/* Center the wishlist box in the container */
.wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(249, 253, 253);
}

/* Style the wishlist box */
.wishlist-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Style individual wishlist cards */
.wishlist-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  text-align: center;
  position: relative; /* Set position to relative */
}

.wishlist-card img {
  max-width: 270px;
  max-height: 180px;
  border-radius: 50%;
}

/* Style the delete icon */
.delete-icon-wish {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgb(165, 0, 0);
  cursor: pointer;
}

/* Style the delete icon on hover */
.delete-icon-wish:hover {
  color: rgb(221, 0, 0);
}

.wishlist-card button {
  background-color: teal;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.wishlist-card button:hover {
  background-color: rgb(0, 41, 41);
}

.empty-wishlist-message {
  color: #888888; 
  font-size: 42px;
  text-align: center;
  margin: 20px 0;
}



