.container-news {
  height: 60vh;
  background-color: #ffe2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-news {
  font-size: 70px;
  margin-bottom: 20px;
}
.description {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.input-container {
  width: 50%;
  height: 40px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightblue;
}
.input-field {
  border: none;
  flex: 8;
  padding-left: 20px;
}
.news-button {
  flex: 1;
  border: none;
  background-color: teal;
  color: aliceblue;
}
