.navbar-container {
  height: 60px;
  background-color: rgb(255, 255, 255);  
}

.navbar-wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*left section*/
.navbar-left-section {
  flex: 1;
  display: flex;
  align-items: center;
}
.language-icon-left {
  font-size: 14px;
  cursor: pointer;
}
.search-container-left{
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
    border-radius: 4px; 
}
.input-field-left {
    border: none;
}


/*middle section*/
.navbar-middle-section {
  flex: 1;
}
.main-logo {
  font-weight: bold;
  text-align: center;
}
/*right section*/
.navbar-right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-item-right {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
