.container-category-item{
    flex: 1;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 3px;
    height: 70vh;
    width: 100%;
    position: relative;
}
.image-category-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-category-item{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-category-item{
    color: white;
    margin-bottom: 20px;
}
.button-category-item{
    border: none;
    padding: 10px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}