
.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
}
.slider-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f6e3fd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}
.slider-arrow:first-child {
  left: 0;
}
.slider-arrow:last-child {
  right: 0;
}
.slider-arrow svg {
  width: 30px;
  height: 30px;
  color: #000;
}
.slider-wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  touch-action: pan-y;
}
.slide-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-box {
  flex: 1;
  height: 100%;
}
.image {
    height: 100%;
}
.info-box {
  flex: 1;
  padding: 50px;
}
.title {
    font-size: 70px;
}
.description {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}
.button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}
@media all and (max-width: 412px) {
  .slider-container{
    display: none;
  }
}

